{% extends "base.html" %}

{% block title %} Secret {% endblock%}

{% block content%}
 <h1> Add feedback {{session['username']}}</h1>
 <form method= "POST">
    {{ form.hidden_tag() }} 

  {% for field in form
         if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>
     {% endfor %}
    <button type="submit"> Register </button>
 </form>
 <a href="/users/{{session['username']}}/feedback/add">Add Feedback</a>
{% endblock %}