{% extends "base.html" %}

{% block title%} Register New User {% endblock %}

{% block content %}
<ul>
{% if 'username' not in session %}
<li><a href="/login">Login</a></li>
{% endif%}
</ul>

<ul>
  {% if 'username' not in session %}
  <li><a href="/login">Login</a></li>
  {% endif%}
  </ul>
  
<h1>Welcome, New User Don't Forget to Sign-up for our website!</h1>
<form method="POST">
{{ form.hidden_tag() }} 

  {% for field in form
         if field.widget.input_type != 'hidden' %}

    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>
     {% endfor %}
    <button type="submit"> Register </button>
</form>
<a href="/login">Login</a>
{% endblock %}