{% extends "base.html" %}

{% block title %} Secret {% endblock%}

{% block content%}
 <h1> Secret, You made it {{user.username}}!</h1>
 <ul>
    <li>{{user.email}}</li>
    <li>{{user.first_name}}</li>
    <li>{{user.last_name}}</li>
 </ul>
 {% if feedback %}
 <h2>List of feedback</h2>
 <ul>
    {%for f in feedback %}
    <li> <a href="/users/{{user.username}}/feedback/{{f.id}}/update">{{f.title}}</a></li> 
    <a href="/users/{{user.username}}/feedback/{{f.id}}/delete">DELETE</a>
    {%endfor%}
 </ul>
 {% endif %}
 <a href="/users/{{user.username}}/feedback/add">Add Feedback</a>
{% endblock %}